<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.fatsecret.diary.dao.FoodListDAO">
  	<insert id="addFoodList" parameterType="map">
  	INSERT INTO `foodlist`
  	(
  		`userId`
  		, `timeType`
  		, `foodName`
  		, `amount`
  		, `carb`
  		, `protein`
  		, `fat`
  		, `kcal`
  		, `createdAt`
  		, `updatedAt`
  	)
  	VALUES
  	(
  		#{userId}
  		, #{timeType}
  		, #{foodName}
  		, #{amount}
  		, #{carb}
  		, #{protein}
  		, #{fat}
  		, #{kcal}
		, NOW()
		, NOW()
  	)	
  </insert> 
  
  <select id="selectFoodListByUserIdTimeTypeDate" parameterType="map" resultType="com.fatsecret.diary.model.FoodList">
 		SELECT
 			`id`
 			, `userId`
 			, `timeType`
	  		, `foodName`
	  		, `amount`
	  		, `carb`
	  		, `protein`
	  		, `fat`
	  		, `kcal`
	  		, `createdAt`
	  		, `updatedAt`	
 		FROM
 			`foodlist`
 		WHERE
 			`userId` = #{userId}
 		AND
 			`timeType` = #{timeType}
 		AND
 			DATE(`createdAt`) = DATE(#{date})
 	</select>
 	
 	<delete id="delFoodById" parameterType="int">
 		DELETE
		FROM
			`foodlist`
		WHERE
			`id` = #{id}
 	</delete>
  </mapper>