<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fatsecret.diary.dao.TotalActivityListDAO">
	<insert id="insertTotalActivityList" parameterType="map">
		INSERT INTO `total_activity`
		(
		`userId`
		, `kcal`
		, `createdAt`
		, `updatedAt`
		)
		VALUES
		(
		#{userId}
		, #{kcal}
		, #{date}
		, NOW()
		)
	</insert>

	<select id="selectTotalActivityByUserId" parameterType="int" resultType="com.fatsecret.diary.model.TotalActivityList">
		SELECT
			*
		FROM
			`total_activity`
		WHERE
			`userId` = #{userId}
		ORDER BY
			`createdAt`
		DESC
		LIMIT
		1	
	</select>
	
	 <select id="selectTotalActivityListByUserId" parameterType="int" resultType="com.fatsecret.diary.model.TotalActivityList">
 		SELECT
 			*
 		FROM
 			`total_activity`
 		WHERE
 			`userId` = #{userId}
 		ORDER BY
 			`id`
 		DESC	
 	</select>
 	
 	<update id="updateTotalActivityByUserId" parameterType="map">
	  	UPDATE `total_activity`
	  	SET
	  		`kcal` = #{kcal}
	  		, `updatedAt` = NOW()
	  	WHERE
	  		`id` = #{id}
	  </update>
	  
	  <select id="selectTotalActivityByUserIdDESC" parameterType="int" resultType="com.fatsecret.diary.model.TotalActivityList">
 		SELECT
 			*
 		FROM
 			`total_activity`
 		WHERE
 			`userId` = #{userId}
 		ORDER BY
 			`id`
 		DESC LIMIT
 		1	
 	</select>
 	
 	<select id="selectTotalActivityByUserIdCreatedAt" parameterType="int" resultType="com.fatsecret.diary.model.TotalActivityList">
 		SELECT
 			*
 		FROM
 			`total_activity`
 		WHERE
 			`userId` = #{userId}
 		AND
 			DATE(`createdAt`) = DATE(NOW());
 	</select>
</mapper>